name: Publish
on:
  schedule:
    - cron: '0 9 * * *'
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Build and Deploy
        uses: JamesIves/github-pages-deploy-action@2.0.0
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
          BUILD_SCRIPT: npm ci && npm start
          EVENTBRITE_TOKEN: ${{ secrets.EVENTBRITE_TOKEN }}
          EVENTBRITE_SEARCH_PAGES_LIMIT: ${{ secrets.EVENTBRITE_SEARCH_PAGES_LIMIT }}
